*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #f00;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 6.4rem;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

ul {
    text-align: center;
    line-height: 1.4;
}

li {
    font-size: 1.8rem;
}

form {
    margin-top: 28px;
    text-align: center;
}

#form-field,
button {
    line-height: 2;
}

button {
    width: 100px;
}
